@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
  body {
    @apply min-h-screen text-[#E6F0FA];
    position: relative;
    background-color: #141821;
    background-image: radial-gradient(1200px 1200px at 10% 20%, rgba(255, 255, 255, 0.02), transparent);
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }
}
