@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
  body {
    @apply min-h-screen text-[#f2f5ff];
    position: relative;
    background-color: #202C38;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }
}
